body
{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
}
.container 
{

    display: grid;
    width: 500px;
    height: 500px;
    border: 2px black solid;
}

.grid-item
{
    background-color: lightgray;

}

.grid-item:hover
{
background-color: blue;
}
